{% load staticfiles %}
<div class="cblock fpcontent">
    <h3>{{ post.headline }}</h3>
    <hr>
    {# This is where we define the slideshow divs, and call the script to replace the initial values #}
    {% if post.post_type == 'c' %}
        <ul class='galleria' id="gallery_{{ post.id }}">
            {% for image in post.postimage_set.all %}
                <li><img src="{{ image.get_preview_or_full }}"/></li>
            {% endfor %}
        </ul>
    {% elif post.post_type == 'd' %}
        <div id="siteslides{{ post.id }}" class="slide"
             data-json="{{ post.json_path }}" data-image="{{ post.image_path }}">
            <ul class="galleria" id="gallery_{{ post.id }}">
                <li><img class="siteimage" src=""/></li>
            </ul>

            <!-- <div class="slides_navigation">
                <div id="backwardtab"><a href="#">&lt;</a></div>
                <div id="forwardtab"><a href="#">&gt;</a></div>
            </div> -->

            <div class="sitetext">
                <b><span class="street"></span></b>
                <hr>

                <span class="local"></span> /
                <span class="medium"></span> /
                <span class="regional"></span>{#  Watershed. #}
                <hr>

                <span class="sitelabel"></span>
                <span class="ground"></span>
                <hr>
            </div>
        </div>
    {% endif %}

    <p>
        {{ post.body|truncatewords:45|safe }}

        {% if post.body|length > post.body|truncatewords:45|length %}
           <a href="{% url 'post_detail' post.slug post.id %}"> More </a>
        {% endif %}
    </p>
</div>
