@import "frameless";

@17cols: (17 * (@column + @gutter) - @gutter) / @em;
@18cols: (18 * (@column + @gutter) - @gutter) / @em;
@19cols: (19 * (@column + @gutter) - @gutter) / @em;
@20cols: (20 * (@column + @gutter) - @gutter) / @em;
@21cols: (21 * (@column + @gutter) - @gutter) / @em;
@22cols: (22 * (@column + @gutter) - @gutter) / @em;
@23cols: (23 * (@column + @gutter) - @gutter) / @em;
@24cols: (24 * (@column + @gutter) - @gutter) / @em;

/* Micro ClearFix Mixin */
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.height (@cols:1) {
  height: (@cols * (@column + @gutter) - @gutter) / @em;
}

/***** common styles *****/

body {
  // background: url('background.gif') repeat-y center top;
  // background-size: 841/@em;
  // the background.gif image shows the grid. The width of the image is 841px.
  // We've declared the size to be 841/@em so that it zooms with the page.
  background-color: #fbfbfb;
}

a {
  color: #E76600;
  text-decoration: none;
  border-bottom: 1px dotted #E76600;
}

a:hover {
  color: #f00;
  border-bottom: 1px dotted #f00;
}

hr {
  border: 0;
  border-bottom: 1px solid #7f7f7f;
  background: none;
  margin: 0;
}

b {
  font-weight: 600;
  font-style: normal;
}

#container {
  position: relative;
  margin: 48/@em auto;
  .clearfix();
}

h1 {
  display: none;
  padding: 14/@em;
  margin-top: 16/@em;
  font-size: 16/@em;
  margin-bottom: 18/@em;
  background-color: #e6e6e6;
}

h1 em {
  font-weight: normal;
  font-variant: normal;
}

#logo {
  background-color: #cc2222;
  padding: 30/@em 0;
}
.title,
.news,
.main,
.footer {
  position: relative;
  display: block;
  float: left;
}

.title {
  //background-color: #b3b3b3;
  //margin-top: 8/@em;
  margin-bottom: 8/@em;
  margin-right: 24/@em;
  float: left;
  color: #333;

  p {
    font-weight: 400;
    font-style: normal;
    padding: 0 0 2/@em 0;
  }

  b {
    font-weight: 400;
    font-style: normal;
    color: #666;
  }
}

h2 {
  font-weight: normal;
  color: #fff;
  padding: 12/@em;
}

h3 {
  clear: both;
  padding: 0 0 4/@em;
}

.news {
  margin: auto;
  float: left;
  //margin-top: 16/@em;
  margin-bottom: 8/@em;
  font-size: 12/@em;
  line-height: 24/@em;
  color: #808080;
  .newsitem {
    margin: 0 0 8/@em 0;
  }
}


.main {
  // .clearfix();
  position: relative;
  width: 100%;
  .bx-wrapper {
    a,
    a:hover {
      border-bottom: none;
    }
  }
}

//front page content box
.fpcontent,
.fpcontent-code,
.fpcontent-writing {
  position: relative;
  display: inline-block;
  // float: left;
  width: @4cols;
  height: auto;
  margin: (28 / @em) auto (28 / @em) auto;
  padding: 16 / @em;
  font-size: 13 / @em;
  line-height: 28 / @em;
  font-weight: 300;

  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 0px 4/@em 0px #8f8f8f;
  box-shadow: 0px 0px 4/@em 0px #8f8f8f;
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-style: normal;

  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;

  img {
    width: 210px;
    height: 240px;
  }
  // .image_slide {
  //   height: 270px;
  // }

  // .galleria {
  //   width: 100%;
  //   height: 270px;
  //   .galleria-container {
  //     background-color: #f1f1f1;
  //   }
  //   .galleria-stage {
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //   }
  // }

  h3 {
    text-transform: uppercase;
    font-family: 'Whitney SSm A', 'Whitney SSm B';
    font-size: 12/@em;
    line-height: 24/@em;
    font-weight: 600;
    letter-spacing: .5/@em;
  }

  p {
    padding: 8/@em 0 0 0;
  }

}

.fpcontent-code {
  background-color: #d9d9d9;
}

.fpcontent-writing {
  background-color: #e6e6e6;
}

p {
  padding: 0 12/@em 22/@em 0;
}

.footer {
  color: #808080;
  clear: both;
  height: @2cols;
  font-size: 12/@em;
  line-height: 28/@em;

  p {
    padding: 12/@em 0 0 0;
  }
}

/***** content page *****/
.contentpage {
//  .height(24);
  margin: auto;

  .column {
    .width(8);
    margin: auto;
  }

  .header,
  .content,
  .footer {
    position: relative;
    width: 100%;
    background: #fff;
  }

  .content,
  .footer {
    z-index: 1;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    -webkit-box-shadow: 0px 0px 4/@em 0px #8f8f8f;
    -moz-box-shadow: 0px 0px 4/@em 0px #8f8f8f;;
    box-shadow: 0px 0px 4/@em 0px #8f8f8f;
    z-index: 2;
    p {
      padding: 72/@em 0 16/@em 0;
    }
    &.scrolled {
      position: fixed;
      top: 0;
      left: 0;
      p {
        padding: 16/@em 0 16/@em 0;
      }
    }
  }

  .content {
    margin-top: 104/@em + 18/@em;
    line-height: 1.75em;
    &.scrolled {
      margin-top: 32/@em + 104/@em + 18/@em;
    }
    img {
      width: 100%;
      height: auto;
    }
    .galleria {
      width: 100%;
      height: 800px;
      .galleria-container {
        background-color: #fff;
      }
      .galleria-stage {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}


#contentbackground {
  width: 100%;
  height: @24cols;
  position: absolute;
  top: @2cols;
  -webkit-box-shadow: 0px 0px 4/@em 0px #8f8f8f;
  box-shadow: 0px 0px 4/@em 0px #8f8f8f;
  overflow: auto;
  background: #fff;
  z-index: -1;
}

#contentcontainer {
  #container;
  padding-top: 24/@em;
}

#contentmain {
  padding-top: 24/@em;
  line-height: 28/@em;
  img {
    width: 100%;
    height: auto;
  }
  .galleria {
    width: 100%;
    height: 800px;
    .galleria-container {
      background-color: #fff;
    }
    .galleria-stage {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

#siteslides {
  font-size: 12/@em;
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  line-height: 28/@em;
}

/* Slider Buttons */
#siteslides .backwardtab {
  position: absolute;
  left: 0;
  height: 600px;
  width: 48px;
  background: url('static/images/triangle-left.png') center center no-repeat;
  opacity: 0.1;
}

#siteslides .backwardtab:hover {
  opacity: 1.0;
}

#siteslides .forwardtab {
  position: absolute;
  right: 0;
  height: 600px;
  width: 48px;
  background: url('static/images/triangle-right.png') center center no-repeat;
  opacity: 0.1;
}

#siteslides .forwardtab:hover {
  opacity: 1.0;
}

.slides_navigation {
  width: 31px;
  height: 25px;
  margin: 5px auto;
  #backwardtab,
  #forwardtab {
    display: block;
    float: left;
    width: 8px;
  }

  #backwardtab {
    margin-right: 15px;
  }
}

.slidesjs-pagination {
  li {
    display: inline-block;
    margin-left: 10px;
  }
}

/***** end common styles *****/

/**
    Mobile layout
    240-600 px
**/
@media screen and (min-width: 15em) {
  h1#mobile {
    display: block;
    position: relative;
  }

  #container {
    width: @4cols;
  }

  #contentcontainer {
    #container;
  }

  .contentpage {
    .width(4);
    .column { .width(4); }
  }


  .title {
    width: @4cols;
    margin-bottom: 0;
  }

  .news {
    width: @4cols;
  }

  body {
    font-size: @font-size/16*1em;
  }
}

/*
    Wide mobile layout
    480-767 px
    Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  h1#mobile {
    display: none;
  }

  h1#widemobile {
    display: block;
  }

  body {
    font-size: (@font-size + 2)/16*1em;
  }
}

/*
    Tablet layout
    600-911 px
    Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em) {
  #container {
    width: @8cols;
  }

  #contentcontainer {
    #container;
  }

  .contentpage {
    .width(8);
    .column { .width(8); }
  }

  h1#widemobile {
    display: none;
  }

  h1#tablet {
    display: block;
  }

  .title {
    width: @4cols;
    margin-bottom: 16/@em;
  }

  .news {
    width: @4cols;
  }

  #logo {
    width: @3cols;
  }

  body {
    font-size: @font-size/16*1em;
  }

 .main {
   // -moz-column-count: 2;
   // -moz-column-gap: @gutter;
   // -webkit-column-count: 2;
   // -webkit-column-gap: @gutter;
   // column-count: 2;
   // column-gap: @gutter;
 }
}

/*
    desktop layout
    912-infinity px
*/
@media screen and (min-width: 57em) {
  #container {
    width: @12cols;
  }

  h1#tablet {
    display: none;
  }

  h1#desktop {
    display: block;
  }

  .title {
    width: @8cols;
  }

  .news {
    width: @4cols;
  }

  body {
    font-size: @font-size/16*1em;
  }

  .main {
    // -moz-column-count: 3;
    // -moz-column-gap: @gutter;
    // -webkit-column-count: 3;
    // -webkit-column-gap: @gutter;
    // column-count: 3;
    // column-gap: @gutter;
  }
}

/*
    full page zoom above 1024 px. still desktop layout.
*/
@media screen and (min-width: 64em) {
  body {
    font-size: (@font-size + 2)/16*1em;
  }

  h1#desktop {
    display: none;
  }

  h1#desktop-plus {
    display: block;
  }
}

/*
    full page zoom above 1024 px. still desktop layout.
*/
@media screen and (min-width: 78em) {
  #container {
    width: @16cols;
  }

  h1#desktop {
    display: none;
  }

  h1#desktop-plus {
    display: block;
  }

  .title,
  .news {
    width: @8cols;
  }

  body {
    font-size: @font-size/16*1em;
  }

  .main {
    // -moz-column-count: 4;
    // -moz-column-gap: 1em;
    // -webkit-column-count: 4;
    // -webkit-column-gap: 1em;
    // column-count: 4;
    // column-gap: 1em;
  }
}

@media screen and (min-width: 88em) {
  body {
    font-size: (@font-size + 2)/16*1em;
  }
}

/* @media screen and (min-width: 110em) {
    body {
        font-size: (@font-size)/16*1em;
        }

        #container {
        width: @20cols;
        }


        .title {
        width: @12cols;
        }

        .main {
        -moz-column-count: 5;
       -moz-column-gap: @gutter;
       -webkit-column-count: 5;
       -webkit-column-gap: @gutter;
       column-count: 5;
       column-gap: @gutter;
        }

    }


    @media screen and (min-width: 118em) {
    body {
        font-size: (@font-size+2)/16*1em;
        }

    } */
