{% extends 'base/base.html' %}

{% block content %}
    <div class="contentpage">
        <div class="header">
            <div class="column">
                <p><strong>Nicholas de Monchaux</strong>
                <a href="{% url 'home' %}">&laquo;Main</a></p>
            </div>
        </div>

        <div class="content">
            <div class="column">
                <ul class="events">
                {% for event in events %}
                    <li class="event">
                        {% if event.is_short %}
                            {{ event.timestamp }} &raquo;
                            <a href="{% url 'event_detail' event.id %}">
                                {{ event.short_desc }}{% if event.address %}, {{ event.address }} {% endif %}
                            </a>
                        {% else %}
                            {{ event.timestamp }} &raquo; {{ event.short_desc }}{% if event.address %}, {{ event.address }} {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% include "base/blocks/footer.html" %}
            </div>
        </div>
    </div>
{% endblock %}
