{% extends 'base/base.html' %}

{% block content %}
    <div id="container">
      <div id="measure">
        <span class="mobile">1</span>
        <span class="tablet">2</span>
        <span class="desktop">3</span>
        <span class="desktop-plus">4</span>
        <span class="largescreen">5</span>
      </div>
      {# <h1 id="mobile">Mobile layout, &gt; 0em</h1> #}
      {# <h1 id="widemobile">Widemobile layout, &gt; 30em</h1> #}
      {# <h1 id="tablet">Tablet layout, &gt; 37.5em</h1> #}
      {# <h1 id="desktop">Desktop layout, &gt; 57em</h1> #}
      {# <h1 id="desktop-plus">Desktop layout, &gt; 57em <em>(plus full-page zoom, &gt; 64em)</em></h1> #}
      <h1 id="mobile">Mobile layout, &gt; 0em</h1>
      <h1 id="widemobile">Widemobile layout, &gt; 30em</h1>
      <h1 id="tablet">Tablet layout, &gt; 37.5em</h1>
      <h1 id="desktop">Desktop layout, &gt; 57em</h1>
      <h1 id="desktop-plus">Desktop layout, &gt; 57em <em>(plus full-page zoom, &gt; 64em)</em></h1>
        <div class="title">
            <p><strong>Name Here</strong></p>
            <p><b>is Some text about him goes here saying some stuff.</p>
            <p>Here are some <a href="{% url 'home_filter' 'design' %}">Design Proposals</a>, <a href="{% url 'home_filter' 'projects' %}">Projects</a>, <a href="{% url 'home_filter' 'books' %}">Books and Essays</a>, and <a href="{% url 'home_filter' 'software' %}">Software</a>. And a <a href="{% url 'biography' %}">Bio</a>.</b>
            {% if filter %}Back to <a href="{% url 'home' %}">Main</a> {% endif %}
            </p>
        </div>
        <div class="news">
            {% for event in events %}
                <div class="newsitem">
                    {% if event.is_short %}
                        {{ event.timestamp }} &raquo;
                        <a href="{% url 'event_detail' event.id %}">
                            {{ event.short_desc }}{% if event.address %}, {{ event.address }} {% endif %}
                        </a>
                    {% else %}
                        {{ event.timestamp }} &raquo; {{ event.short_desc }}{% if event.address %}, {{ event.address }} {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="line">
                <a href="{% url 'events' %}">old news</a>
            </div>
        </div>
        <div class="main">
            {% for post in posts %}
                {% ifequal post.post_type 'a' %}
                    {% include "base/blocks/short_post.html" %}
                {% endifequal %}

                {% ifequal post.post_type 'b' %}
                    {% include "base/blocks/long_post.html" %}
                {% endifequal %}

                {% ifequal post.post_type 'c' %}
                    {% include "base/blocks/slide_post.html" %}
                {% endifequal %}

                {% ifequal post.post_type 'd' %}
                    {% include "base/blocks/slide_post.html" %}
                {% endifequal %}
            {% endfor %}

        </div>
        {% include "base/blocks/footer.html" %}
    </div>
{% endblock %}
